@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 16px;
}

.default-bg-color {
  @apply h-screen bg-gradient-to-r from-violet-500 to-fuchsia-500;
}

.flex-center {
  @apply flex items-center justify-center;
}

.label {
  @apply font-bold text-xl;
}

.underline-text {
  @apply hover:underline text-sm cursor-pointer;
}

.bg-default-blur {
  @apply border backdrop-blur-xl shadow-2xl shadow-black/50 border-white/20;
}
